<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="https://clojurescript.org/images/cljs-logo-icon-32.png">
    <title>{{name}}</title>
  </head>
  <body>
    <div id="app"></div>
    <script src="/js/compiled/main.js" type="text/javascript"></script>
    <script>{{sanitized}}.core.init();</script>
  </body>
</html>
